@font-face {
    font-family: myFirstFont;
    src: url('/font/acumin-pro-cufonfonts-webfont/Acumin-RPro.woff') format('woff');

}

.text_white {
    color: white;
}

.text_black {
    color: black;
}

.text_purple {
    color: #490099;
}

.text_orange {
    color: #ffa800;
}

.bg_white {
    background-color: white;
}

.bg_black {
    background-color: black;
}

.bg_orange {
    background-color: orange;
}

.bg_purple {
    background-color: #490099;
}

.box_shadow {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.font_bold {
    font-weight: bold;
}

.font_bolder {
    font-weight: bolder;
}

.font_weight {
    font-weight: 400;
}

.font_family {
    font-family: myFirstFont;
}

.transition {
    transition: all .2s ease-in;
}

.buttonHover:hover {
    background-color: #490099;
}

.buttonBackground {
    background-color: #fd7e14;
}

.bgOpacity {
    background-color: rgba(0, 0, 0, 0.1);
}

.text_over {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bookapp {
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 0px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.para {
    font-size: 16px;
    font-family: myFirstFont;
}

.spara {
    font-size: 13px;
    font-family: myFirstFont;
}

.heading {
    font-size: 34px;
    font-weight: 600;
    font-family: myFirstFont;
}

.subHeading {
    font-size: 30px;
    font-weight: 600;
    font-family: myFirstFont;
}

.subheading1 {
    font-size: 24px;
    font-weight: 600;
    font-family: myFirstFont;
}

.subheading2 {
    font-size: 20px;
    font-weight: 600;
    font-family: myFirstFont;
}

.question_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: #490099;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {

    .heading {
        font-size: 23px;
        font-weight: 600;
        font-family: myFirstFont;
    }

    .subHeading {
        font-size: 21px;
        font-weight: 600;
        font-family: myFirstFont;
    }

    .subheading1 {
        font-size: 18px;
        font-weight: 600;
        font-family: myFirstFont;
    }

    .subheading2 {
        font-size: 16px;
        font-weight: 600;
        font-family: myFirstFont;
    }

    .para {
        font-size: 14px;
        font-family: myFirstFont;
    }
}