h1,
h2,
p {
    font-family: myFirstFont !important;
}

.titleData h1,
p {
    font-family: myFirstFont;
}

.boxData h2,
p {
    font-family: myFirstFont;
}

.dynemicCard h2,
p {
    font-family: myFirstFont;
}

.horizontal .image {
    margin: 1rem auto;
}
.horizontal  figure {
    width: fit-content !important;
}
.horizontal h2 {
    font-size: 30px;
    background: none !important;
    font-family: myFirstFont;
    color: black;
}

.horizontal p {
    font-size: 16px;
    background: none !important;
    font-family: myFirstFont;
    color: black;
    margin: 1rem 0px;
}

.horizontal img {
    margin: auto;
}

.horizontal .table {
    width: fit-content;
    margin: 3rem auto;
    border: unset;
    background-color: rgb(184, 214, 241);
    font-family: myFirstFont;
}

.horizontal .table td {
    border: 1px solid;
    width: fit-content !important;
    min-width: 100px;
    /* padding: 5px 10px; */
    font-weight: bolder !important;
    color: black !important;
    font-size: 20px;
    text-align: center;
    font-family: myFirstFont;
}

.horizontal .table p {
    font-weight: bolder !important;
    color: black !important;
    font-size: 20px;
    margin: 0px !important;
    font-family: myFirstFont;
}

.horizontal ul {
    list-style-type: disc;
    font-family: myFirstFont;
}

.horizontal ol {
    list-style-type: decimal;
    font-family: myFirstFont;
}

.horizontal ol li {
    margin: 10px 0px;
}

.horizontal ul li {
    margin: 10px 0px;
}

.dynemicCard h1 {
    font-size: 50px;
    font-weight: 500;
    font-family: myFirstFont;
}

.dynemicCard span {
    font-size: 16px;
    background: none !important;
    font-family: myFirstFont;
    color: black;
}

.dynemicCard div h3,
p {
    font-family: myFirstFont;
}

.dynemicCardSoul h1 {
    font-size: 29px;
    margin: 1rem 0px;
    font-family: myFirstFont;
    font-weight: 500;
}

.dynemicCardList h1 {
    font-size: 50px;
    font-weight: 500;
    font-family: myFirstFont;
}

.dynemicCardList ul {
    list-style-type: disc;
    font-family: myFirstFont;
    padding: 0px 10px;
}

.dynemicCardList ul li {
    margin: 10px 0px;
    padding: 0px 5px;
}

.dynemicCard ul {
    list-style-type: disc;
    padding-left: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .horizontal h2 {
        font-size: 21px;
    }

    .horizontal .image {
        width: 100% !important;
    }
}