/* @import url(https://fonts.googleapis.com/css?family=Audiowide); */
@font-face {
  font-family: myFirstFont;
  src: url('/font/acumin-pro-cufonfonts-webfont/Acumin-RPro.woff') format('woff');
   font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
      height: 100vh;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
    user-select: none;
}

.loading {
  display: flex;
  flex-direction: row;
}
.loading__letter {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 4px;
  /* text-transform: uppercase; */
  color: #fff;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
    font-family: 'myFirstFont', sans-serif;
}

.loading__letter:nth-child(2) {
  animation-delay: .1s;	
}
.loading__letter:nth-child(3) {
  animation-delay: .2s;
}
.loading__letter:nth-child(4) {
  animation-delay: .3s;	
}
.loading__letter:nth-child(5) {
  animation-delay: .4s;
}
.loading__letter:nth-child(6) {
  animation-delay: .5s;	
}
.loading__letter:nth-child(7) {
  animation-delay: .6s;
}
.loading__letter:nth-child(8) {
  animation-delay: .8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px)
  }
  40% {
    transform: translateY(-10px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}


@media (max-width: 700px) {
  .loading__letter {
    font-size: 30px;
  }
}

@media (max-width: 340px) {
  .loading__letter {
    font-size: 20px;
  }
}